.App2 {
  background-color: #33002c;
  color: white;
  height: 120vh;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: top;
  padding: 20px;
}
.App2 p{
  text-align: justify;
  font-size: 20px;
}
.App2 h1{
  text-align: center;
  font-size: 50px;
  margin-bottom: 10px;
}

.App2 h2{
  font-size: 30px;
}

.App2 a{
  font-size: 20px;
  color: white;
  text-decoration: none;
}

.App2 h3{
  font-size: 20px;
}

.App2 .home {
  display: flex;
  width: 100%;

}